<div class="container">
  <div class="row text-center">
    <h1>New User</h1>
  </div>



<div class="text-center">
    <%= form_tag( session_path, method: "POST") do %>

      <%= label_tag :username, 'your user name here' %>
      <%= text_field_tag :username , "john smith"%><br/>

      <%= label_tag :email, 'Email' %>
      <%= text_field_tag :email, "example@example.com" %><br/>

      <%= submit_tag('Sign in ') %>
    <% end %>
</div>
